<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

	<filter>
           <filter-name>UrlRewriteFilter</filter-name>
           <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
    </filter>
    <filter-mapping>
           <filter-name>UrlRewriteFilter</filter-name>
           <url-pattern>/*</url-pattern>
    </filter-mapping>

	<servlet>
		<servlet-name>Security_Now_Catalog</servlet-name>
		<servlet-class>sncatalog.webservice.Security_Now_CatalogServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GRC_Parser</servlet-name>
		<servlet-class>sncatalog.webservice.ParseGRC</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EpisodeRequester</servlet-name>
		<servlet-class>sncatalog.webservice.EpisodeRequester</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Security_Now_Catalog</servlet-name>
		<url-pattern>/update</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GRC_Parser</servlet-name>
		<url-pattern>/parse</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EpisodeRequester</servlet-name>
		<url-pattern>/episode/</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
